.titulo {
  text-align: center;
  font-size: 30px;
  font-family:'Courier New', Courier, monospace
}

.container {
  padding: 15px;
  width: 440px;
  margin: 0px auto;
  font-family:'Courier New', Courier, monospace
}

.btn-agregar {
  border-radius: 4px;
  background-color: #000000;
  border: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 27px;
  vertical-align: top;
}

.voto:hover:hover span:after {
  opacity: 1;
  right: 0;
}

.input-num {
  vertical-align: middle;
}

.grupo {
  height: 450px;
  width: 550px;
	overflow-y: scroll;
}

.mat-tree-node {
  margin-left: 12px;
}

.nested-node {
  padding-left: 40px;
}

.example-tree .nested-node > .mat-tree-node {
  padding-left: 40px;
}

.example-tree ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

.example-tree li {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

